.legionContainer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
}

.buttonBack {
    width: 2.2rem !important;
    height: 2.2rem !important;
}

.legionHeading {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: calc(100vw - 2rem);
    line-height: 2.2rem;
    text-align: center;
}
