.historyContainer {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    height: 100%;
    overflow-y: scroll;
}

.historyContainer span {
    margin: 1rem 0;
}

.squadName {
    color: #5855ff;
    text-align: center;
}

.transactionsHeading {
    position: absolute;
    z-index: 0;
    margin: 0;
    width: calc(100vw - 4rem);
    line-height: 2.5rem;
    text-align: center;
}

.transactionsWrapper {
    display: flex;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    z-index: 1;
    transition: 0.1s;
    background: linear-gradient(180deg, #040616, #26246f);
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.transactionsContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #632c71, #171042);
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.operationContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-bottom: 1px solid #ffffff40;
    padding-bottom: 1.5rem;
}

.buttonClose {
    z-index: 1;
    margin: 0 0 0 auto;
    aspect-ratio: 1 /1;
    width: fit-content;
    height: 2.5rem;
}

.buttonOperation {
    gap: 1rem;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
}

.squadName {
    cursor: pointer;
}

.green {
    color: #00dc65;
}

.red {
    color: #f55800;
}
