.slideContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.imageContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border: 1px solid #aaa8ff;
    border-radius: 0.5rem;
    background-color: #5855ff50;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.imageInactive {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.gradientRight {
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    z-index: 1;
    background: linear-gradient(270deg, #151645, #151645, #15164500);
    width: 20vw;
    height: 100%;
}

.gradientLeft {
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translateY(-50%);
    z-index: 1;
    background: linear-gradient(90deg, #151645, #151645, #15164500);
    width: 20vw;
    height: 100%;
}

.colorInactive {
    color: #7a7a87;
}

.colorActive {
    color: #fff;
}

.swiperHeading {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}

.slideImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.bubblesContainer {
    position: relative;
    border: 1px solid #282675;
    border-radius: 0.5rem;
    background-color: #151645;
    padding: 1rem;
    height: 100%;
    min-height: 150px;
    overflow: hidden;
}

.swiperContainer {
    position: relative;
    margin-left: -1rem;
    padding: 0 2rem;
    width: calc(100% + 2rem);
    height: 100%;
}

.maxHeight {
    max-height: 130px;
}

.bubblesNoBackground {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: -1rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: calc(100% + 2rem - 1px);
    height: 100%;
    overflow: hidden;
}

.swiperHeader {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.checkbox {
    position: absolute;
    right: 50%;
    bottom: 50%;
    justify-content: center;
    transform: translate(160%, 160%);
    width: 1.5rem;
    height: 1.5rem;
}
