.slideContainer {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.imageContainer {
    background-color: #5855ff50;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 0.5rem;
    border: 1px solid #aaa8ff;
}

.imageInactive {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 0.5rem;
}

.gradientRight {
    height: 100%;
    width: 15vw;
    background: linear-gradient(90deg, #151645, #15164500);
    position: absolute;
    z-index: 100;
    left: 10px;
}

.gradientLeft {
    height: 100%;
    width: 15vw;
    background: linear-gradient(270deg, #151645, #15164500);
    position: absolute;
    z-index: 2;
    right: 10px;
}

.colorInactive {
    color: #7a7a87;
}

.colorActive {
    color: #fff;
}

.swiperHeading {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.slideImage {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bubblesContainer {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid #282675;
    height: 100%;
    min-height: 150px;
    background-color: #151645;
    padding: 1rem;
}

.bubblesNoBackground {
    height: 100%;
    min-height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.swiperHeader {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.checkbox {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(160%, 160%);
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
}
