.shopContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    z-index: 1;
    transition: 0.1s;
    background: linear-gradient(180deg, #040616, #26246f);
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.buttonBack {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.shopHeading {
    position: absolute;
    z-index: -1;
    margin: 1rem auto 0;
    width: 100%;
    line-height: 2.5rem;
    text-align: center;
}

.shopType {
    display: flex;
    gap: 1rem;
    height: min-content;
}

.shopItem {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #ffffff20;
    padding: 1rem;
    height: 3rem;
}

.shopBlock {
    display: flex;
    position: relative;
    grid-column: span 2;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #282675;
    border-radius: 0.5rem;
    background-color: #151645;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shopBackground {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: radial-gradient(
        closest-side,
        #ffbe40,
        #ff7a00,
        #632c71,
        #171748
    );
    width: 100vh;
    height: 200vh;
}

.purchaseInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchaseInfo:nth-child(2n) {
    border-bottom: 1px solid #ffffff40;
    padding-bottom: 1rem;
}

.purchaseInfo span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #ffffff40;
    width: 40%;
    height: 2.5rem;
}
