.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    padding: 1rem;
    width: 100%;
    height: 2.5rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.green {
    transition: 0.5s;
    background-color: #00dc675f;
}

.green:hover {
    transition: 0.5s;
    background-color: #00dc67a5;
}

.purple {
    transition: 0.5s;
    background-color: #5855ff;
}

.purple:hover {
    transition: 0.5s;
    background-color: #8280ff;
}

.purpleTransparent {
    transition: 0.5s;
    background-color: #5855ff40;
}

.purpleTransparent:hover {
    transition: 0.5s;
    background-color: #5855ff79;
}

.white {
    backdrop-filter: blur(5px);
    transition: 0.5s;
    background-color: #ffffff20;
}

.white:hover {
    transition: 0.5s;
    background-color: #ff5c00;
}

.transparent {
    transition: 0.5s;
    background-color: transparent;
}

.extraWhite {
    transition: 0.5s;
    background-color: #fff;
}

.extraWhite {
    transition: 0.5s;
    background-color: #ffffff80;
}

.denseGreen {
    transition: 0.5s;
    background-color: #00dc65;
}

.denseGreen:hover {
    transition: 0.5s;
    background-color: #2bff8e;
}

.orange {
    transition: 0.5s;
    background-color: #ff5c00;
}

.orange:hover {
    transition: 0.5s;
    background-color: #ff9558;
}
