.rateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.rateInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rateAvatar {
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    min-width: 10px;
    max-width: 100px;
}

.rateImage {
    display: block;
    width: 10px;
}

.rateStatisctics {
    display: flex;
}

.rateItem {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ffffff40;
    padding: 0 1rem;
    font-weight: 700;
    font-size: 0.8rem;
}

.rateItem:last-child {
    border-right: none;
    padding: 0 0 0 1rem;
}

.rateItem:first-child {
    padding: 0 1rem 0 0;
}

.rateItem span {
    font-weight: 400;
}
