body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(180deg, #040616, #26246f);
    height: 100vh;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    touch-action: none;
}

#root {
    height: 100svh;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.buttonAbsolute {
    position: absolute;
    width: fit-content !important;
    display: inline-block;
    margin: 1rem;
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-wrapper {
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: column;
    height: 110%;
}

#app {
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

#game-container {
    height: 100vh;
}

canvas {
    height: 100vh;
}

