body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(180deg, #040616, #26246f);
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.buttonAbsolute {
    position: absolute;
    width: fit-content !important;
    display: inline-block;
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-wrapper {
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: column;
    height: 110%;
}

#app {
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

#game-container {
    height: 100vh;
}

canvas {
    height: 100vh;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}

