body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(180deg, #040616, #26246f);
    height: 100vh;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #ffffff70;
    border-radius: 0.5rem;
    color: #fff;
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
    height: 2rem !important;
    width: 2rem !important;
}

.swiper-button-prev {
    background-image: url("assets/arrowLeft.svg");
    margin-left: -10px !important;
}

.swiper-button-next {
    background-image: url("assets/arrowRight.svg");
    margin-right: -10px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

html,
body {
    touch-action: none;
    overflow: hidden;
}

#root {
    height: 100svh;
    overflow: hidden;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.buttonAbsolute {
    position: absolute;
    width: fit-content !important;
    display: inline-block;
    margin: 1rem;
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-wrapper {
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: column;
    height: 110%;
    width: 120% !important;
}

#app {
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

#game-container {
    height: 100vh;
}

canvas {
    height: 100vh;
}

