.startupWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    transition: 0.1s;
    background-color: #00000080;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.startupContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: 1px solid #3f3e8f;
    border-radius: 0.5rem;
    width: calc(100vw - 2rem);
    overflow: hidden;
}

.startupImage {
    display: block;
    width: 100%;
}

.startupButton {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
}
