.historyContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-top: -1rem;
}

.historyContainer span {
    margin: 1rem 0;
}

.squadName {
    text-align: center;
    color: #5855ff;
}

.transactionsWrapper {
    height: 100vh;
    display: none;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
}

.transactionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receiveHeading {
    margin: 0;
}

.receiveBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.receiveBlock:last-child {
    margin-bottom: 3rem;
}

.receiveInput {
    width: 80%;
    border-radius: 0.5rem;
    padding: 0 1rem;
    height: 3rem;
    background-color: #ffffff20;
    color: #fff;
    border: 1px solid #ffffff40;
    font-size: 1rem;
    font-family: "Inter", "sans-serif";
}

.receiveImage {
    display: block;
    width: 80%;
    border-radius: 0.5rem;
}

.buttonBack {
    background-color: #ffffff40;
    width: fit-content;
    aspect-ratio: 1 /1;
    height: 2rem;
}

.transactionsContainer {
    padding: 1rem;
    width: calc(100%);
    position: relative;
    height: calc(100%);
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #632c71, #171042);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.operationContainer {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #ffffff40;
    padding-bottom: 1.5rem;
}

.buttonClose {
    width: fit-content;
    aspect-ratio: 1 /1;
    height: 2rem;
    background-color: #5855ff40;
}

.buttonOperation {
    width: 100%;
    font-size: 1rem;
    gap: 1rem;
    font-weight: 400;
    border: 1px solid #ffffff40;
    background-color: #5855ff30;
}

.green {
    color: #00dc65;
}

.red {
    color: #f55800;
}
