.referralWrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    background: linear-gradient(360deg, #040616, #5855ff);
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    height: 100%;
}

.buttonBack {
    position: absolute;
    width: 2.2rem !important;
    height: 2.2rem !important;
}
