.headerContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.legionButton {
    font-size: 1rem;
    height: 2.5rem;
}

.redeemButton {
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
}

.balanceContainer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    height: 75%;
    color: #696a74;
    width: max-content;
    font-size: 0.8rem;
}

.balanceContainer span {
    color: #fff;
}

.avatar {
    height: 4rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #2c1a9d;
    font-size: 1.5rem;
}
