.modalContainer {
    display: none;
    backdrop-filter: blur(5px);
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.modalGrid {
    display: grid;
    position: relative;
    position: absolute;
    top: 0.2rem;
    left: calc(50% - 1.8rem);
    grid-template-columns: 3.35rem 1fr;
    transform: translateX(-50%);
    width: calc(100vw - 3.3rem);
}

.secondaryButton:hover {
    background-color: #ffffff40;
}

.modalBet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #ffffff20;
    padding: 0 1rem;
    width: fit-content;
    height: 2.5rem;
}

.modalItem {
    position: relative;
    min-height: 3rem;
}

.cornerTop {
    fill: #5855ff;
    display: block;
    position: absolute;
    bottom: -0.05rem;
    left: 0.7rem;
    aspect-ratio: 1 / 1;
    height: 30%;
}

.cornerBottom {
    fill: #5855ff;
    display: block;
    position: absolute;
    top: 0.7rem;
    right: -0.05rem;
    aspect-ratio: 1 / 1;
    width: 30%;
}

.modalImage {
    display: block;
    grid-column: span 2;
    margin: auto;
    width: 3rem;
}

.modalInfo {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
    text-align: center;
}

.modalHeading,
.modalSubheading {
    margin: 0;
}

.modalCross {
    display: block;
    position: absolute;
    right: -0.75rem;
    bottom: -0.75rem;
    z-index: 1;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.4rem;
    aspect-ratio: 1 / 1;
    width: fit-content;
    width: 100%;
    font-size: 2rem;
}

.closeButton {
    background-color: #ffffff40;
    width: 2.5rem;
    height: 2.5rem;
}

.modalBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    padding: 2rem 1rem 1rem;
    width: 100%;
}

.modalButton {
    background-color: #fff !important;
}

.modalButton:hover {
    background-color: #ffffffbb !important;
}

.modalColor_purple {
    background-color: #5855ff;
    color: #5855ff;
}

.modalColor_red {
    background-color: #ff4141;
    color: #ff4141;
}

.corner_purple {
    fill: #5855ff;
}

.corner_red {
    fill: #ff4141;
}

.background_purple {
    background-color: #04061620;
}

.background_red {
    background-color: #ff424240;
}
