.bonusText {
    color: #5855ff;
}

@media screen and (max-height: 685px) {
    .bonusText {
        display: none;
    }

    .bonusContainer {
        margin-top: -2rem;
    }
}

.bonusWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.bonusContainer {
    position: relative;
    height: 100%;
}

.bonusCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sizeChange 3s linear infinite;
    border-radius: 100%;
    aspect-ratio: 1 / 1 !important;
    height: 50%;
}

.delayOne {
    animation-delay: 1s;
}

.delayTwo {
    animation-delay: 2s;
}

@keyframes sizeChange {
    from {
        border: 2px solid #5855ff;
        aspect-ratio: 1 / 1;
        height: 50%;
    }
    to {
        border: 2px solid #5855ff00;
        aspect-ratio: 1 / 1;
        height: 70%;
    }
}

.bonusAmount {
    position: absolute;
    top: 50%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 1px solid #5855ff;
    border-radius: 0.5rem;
    background-color: #171644;
    padding: 0.25rem 1.5rem;
    height: fit-content;
    text-align: center;
}

.bonusImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}

.bonusCounter {
    position: relative;
    backdrop-filter: blur(px);
    border-radius: 0.5rem;
    background-color: #ffffff20;
    padding: 0.5rem 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
