.bonusText {
    color: #5855ff;
}

.bonusWrapper {
    position: relative;
    height: 100%;
}

.bonusCircle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sizeChange 3s linear infinite;
    border-radius: 500px;
    aspect-ratio: 1 / 1 !important;
    width: 50%;
    height: 50%;
}

.delayOne {
    animation-delay: 1s;
}

.delayTwo {
    animation-delay: 2s;
}

@keyframes sizeChange {
    from {
        border: 2px solid #5855ff;
        width: 40vw;
        height: 40vw;
    }
    to {
        border: 2px solid #5855ff00;
        width: 70vw;
        height: 70vw;
    }
}

.bonusAmount {
    position: absolute;
    top: 50%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 1px solid #5855ff;
    border-radius: 0.5rem;
    background-color: #171644;
    padding: 0.25rem 1.5rem;
    height: fit-content;
    text-align: center;
}

.bonusImage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.bonusCounter {
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(px);
    border-radius: 0.5rem;
    background-color: #ffffff20;
    padding: 0.5rem 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
