.bubblesWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    height: 100%;
}

.slideContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.bubblesHeader {
    margin: 0;
    font-size: 1.6rem;
}

.slideImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.slideButton {
    border-radius: 0.5rem;
    padding: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
}

.bubblesContainer {
    position: relative;
    border: 1px solid #282675;
    border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;
}

.bubblesBackground {
    position: absolute;
    transform: translateX(-25%);
    background: radial-gradient(
        closest-side,
        #ffbe40,
        #ff7a00,
        #632c71,
        #171748
    );
    width: 200%;
    height: 200%;
}
